# --- amx-webui (Next.js) ---
/amx-webui/node_modules
/amx-webui/.pnp
/amx-webui/.pnp.js
/amx-webui/.yarn/install-state.gz
/amx-webui/coverage
/amx-webui/.next/
/amx-webui/out/
/amx-webui/build
/amx-webui/.DS_Store
/amx-webui/*.pem
/amx-webui/npm-debug.log*
/amx-webui/yarn-debug.log*
/amx-webui/yarn-error.log*
/amx-webui/.env*.local
/amx-webui/.vercel
/amx-webui/*.tsbuildinfo
/amx-webui/next-env.d.ts

# --- amx-backend (Node.js) ---
/amx-backend/node_modules
/amx-backend/.DS_Store
/amx-backend/*.log
/amx-backend/.env*

# --- iptv-backend (Node.js) ---
/iptv-backend/node_modules
/iptv-backend/.DS_Store
/iptv-backend/*.log
/iptv-backend/.env*

# Exclude streamserver output files
/amx-webui/public/localstream/*
!/amx-webui/public/localstream/.gitkeep
/amx-webui/public/ccstream/*
!/amx-webui/public/ccstream/.gitkeep


**/.DS_Store
